@import "../../variables.module";

.container {
  width: 100%;

  .players {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    overflow-y: auto;
    border: 1px solid black;
    padding: 20px 5px;
    flex-flow: wrap;
  }

  .SummarizePlayer {
    font-size: 16px;
    width: 95%;
    margin: 20px auto auto;
  }

  .content {
      display: flex;
      justify-content: center;
      padding: 20px;
      max-height: 400px;
      overflow-y: auto;

    &Text {
        color: red;
        font-size: 20px;
    }
  }

  .deleteButton {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 20px;
  }

  .tabs {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;

    .tabButton {
      display: flex;
      width: 100%;
      font-family: Arial;
      font-weight: 550;
      line-height: 20px;
      font-size: 18px;
      margin: 15px;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border: 1px solid @primary-color;
      transition: background-color 300ms;
      border-radius: 15px;
    }

    .active {
      background-color: @primary-color;
      color: white;
    }
  }

  .Button {
    font-weight: 500;
    display: flex;
    appearance: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: @primary-color;
    border-radius: 40px;
    content: 'Удалить';
    color: white;
    max-width: 60%;
  }
}